@tailwind base;
@tailwind components;
@tailwind utilities;



.bgc-primary {
    background-color: #f69d36;
    color: white;
}

.color-primary {
    color: #f69d36;
}





/* .herosection::after {
    content: '';
    background: url('https://i.ibb.co/jZ872WF/herobg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
} */